---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Card2 from "../components/Card2.astro";
import Banner from "../components/Banner.astro";
import Card3 from "../components/Card3.astro";
import Card4 from "../components/Card4.astro";

 export const prerender = true
---

<Layout title="Coprac">
	<main>
		<Banner />
		<section class="nose">
			<Card
				href="https://docs.astro.build/"
				title="NUESTRA EMPRESA"
				body="Learn how Astro works and explore the official API docs.mmmmmmm"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="NUESTRA POLITICA"
				body="lorem mnsioisn xampxapj La política de Pilotos S.A. es de una estricta observancia de todas"
			/>
			<Card
				href="https://astro.build/themes/"
				title="VISION DE LA COMPAÑIA"
				body="Explore a galaxy of community-built starter themes. Optimizar nuestras operaciones para conseguir el mejor servicio."
			/>
			<Card
				href="https://astro.build/chat/"
				title="MISION DE LA COMPAÑIA"
				body="Come say hi to our amazing Discord community. Optimizar nuestras operaciones para conseguir el mejor servicio."
			/>
		</section>

		<section class="info">
			<h3>SERVICIOS</h3>
			<p>NUESTROS SERVICIOS PERSONALIZADOS</p>
			<div class="barra"></div>

			<Card4 />
		</section>
		<section class="cosa">
			<h3>LINKS DE INTERES</h3>
			<p>RECURSOS Y ENLACES RELEVANTES</p>
			<div class="barra"></div>

			<div class="slider">
				<div class="list">
					<div class="item" style="--position:1">
						<Card3
						   link = "https://www.hidro.gov.ar/oceanografia/pronostico.asp"
							title="Servicio Hidrofia Naval"
							img="../asset/pronosticoV.webp"
						/>
					</div>
					<div class="item" style="--position:2">
						<Card3
						    link="https://www.marinetraffic.com/en/ais/home/centerx:-55.4/centery:-34.6/zoom:7"
							title="Marintraffic"
							img="../asset/serviciosOriginal.webp"
						/>
					</div>
					<div class="item" style="--position:3">
						<Card3 
						link="https://www.windguru.cz/58361"
						title="WindGuru" 
						img="../asset/servicioM.webp" />
					</div>
					<div class="item" style="--position:4">
						<Card3
						    link="https://contenidosweb.prefecturanaval.gob.ar/alturas/"
							title="Alturas Diarias"
							img="../asset/tablaDeM.webp"
						/>
					</div>
					<div class="item" style="--position:5">
						<Card3
						    link="https://contenidosweb.prefecturanaval.gob.ar/alturas/"
							title="Alturas Diarias"
							img="../asset/Interna.webp"
						/>
					</div>
					<div class="item" style="--position:6">
						<Card3
						    link="https://www.argentina.gob.ar/prefecturanaval/reglamentacion/ordenanzas"
							title="Ordenanzas Maritimas"
							img="../asset/servicioH.webp"
						/>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		/*margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;*/
	}

	.nose {
		padding: 30px 0px;
		max-width: 1100px;
		margin: auto;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.cosa {
		width: 100%;
		height: auto;
		padding-bottom: 50px;
		background-image: linear-gradient(#2c2c2a, #c5bebf);
	}
	.cosa h3 {
		font-size: 28px;
		font-weight: 400;
		color: #fff;
		text-align: center;
		padding-top: 30px;
		margin: 0;
	}
	.cosa p {
		margin: 0;
		color: #fff;
		font-size: 20px;
		text-align: center;
	}
    .slider {
		width: 80%;
		margin: auto;
		overflow: hidden;
		height: 100px;
		
		mask-image: linear-gradient(to right, transparent, #000 10% 90%,transparent);
	}
	.slider .list {
		display: flex;
		width: 100%;
		min-width: calc(300px * 7);
		position: relative;
	}
	.slider .list .item {
		width: 300px;
		height: 100px;
		position: absolute;
		left: 80%;
		transition: filter .5s;
		animation: autoRun 15s linear infinite;
		animation-delay: calc((15s / 6) * ( var(--position) - 1));
	}
	@keyframes autoRun {
		from {
			left: -300px;
		}
		/*to {
			left:calc((300px) * -1)
		}*/
		
	}
	.slider:hover .item {
		animation-play-state: paused!important;
		filter: grayscale(1);
	}	

	.info {
		width: 100%;
		background-color: rgb(44, 44, 42);

		border-top: 3px solid rgb(189, 0, 33);
	}
	.info h3 {
		padding-top: 30px;
		font-size: 28px;
		font-weight: 400;
		color: #fff;
		text-align: center;
		margin: 0;
	}
	.info p {
		text-align: center;
		font-size: 20px;
		margin: 0;
		color: #fff;
	}
	.interes {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
	}

	.cosa .barra {
		margin-top: 15px;
		width: 70px;
		height: 5px;
		background-color: #fff;
		margin-bottom: 70px;
		margin-left: 590px;
	}
	.info .barra {
		margin-top: 15px;
		width: 70px;
		height: 5px;
		background-color: #fff;
		margin-bottom: 70px;
		margin-left: 595px;
	}
	.romeo {
		margin: 60px 0;
		height: 700px;
	}
	.romeo h2 {
		text-align: center;
	}
	@media (max-width: 900px) {
		.info .barra {
			margin-left: 192px;
		}
		.info h3 {
			font-size: 24px;
		}
		.info p {
			font-size: 18px;
		}
		.cosa .barra {
			margin-left: 192px;
		}
		.cosa .cosa1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.cosa h3 {
			font-size: 24px;
		}
		.cosa p {
			font-size: 18px;
		}
	}
</style>
