---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Card2 from '../components/Card2.astro';
import Banner from '../components/Banner.astro';
import Card3 from '../components/Card3.astro';
import Card4 from '../components/Card4.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		    <Card2 />
			<Banner />
		<section class="nose">
			<Card
				href="https://docs.astro.build/"
				title="NUESTRA EMPRESA"
				body="Learn how Astro works and explore the official API docs.mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="NUESTRA POLITICA"
				body="lorem mnsioisn xampxapj La política de Pilotos S.A. es de una estricta observancia de todas"
				
			/>
			<Card
				href="https://astro.build/themes/"
				title="VISION DE LA COMPAÑIA"
				body="Explore a galaxy of community-built starter themes. Optimizar nuestras operaciones para conseguir el mejor servicio."
			/>
			<Card
				href="https://astro.build/chat/"
				title="MISION DE LA COMPAÑIA"
				body="Come say hi to our amazing Discord community. Optimizar nuestras operaciones para conseguir el mejor servicio."
			/>
		</section>
		<section class="cosa">
			<h3>NUESTROS SERVICIOS</h3>
			<div class="cosa1">
			   <Card3 />
			   <Card3 />
			   <Card3 />
			   <Card3 />
			</div>
		</section>
		<section class="info">
			<h3>INFORMACION DE INTERES</h3>
			<div class="interes">
			   <Card4 />
			   <Card4 />
			   <Card4 />
			   <Card4 />

			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		
		/*margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;*/
	}
	
	.nose {
		padding: 30px 0px;
		max-width: 1100px;
		margin: auto;
		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.cosa {
		width: 100%;
        height: 500px;
        background-image: url(../asset/barcos-en.jpg);
        background-size: cover;
        background-position: center;
	}
	.cosa h3 {
		font-size: 32px;
		color: #fff;
		text-align: center;
		padding: 30px 0px;
	}
	
        
        
	.cosa1 {
		display: flex;
		justify-content: space-around;
		align-items: center;

	}
	.info {
		width: 100%;
		height: 500px;
	}
	.info h3 {
		padding-top: 30px;
		font-size: 32px ;
		color: crimson;
		text-align: center;
	}
	.interes {
		
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
	}
        
        
        
		
	
	
	
	
</style>
