---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Card2 from '../components/Card2.astro';
import Banner from '../components/Banner.astro';
import Card3 from '../components/Card3.astro';
import Card4 from '../components/Card4.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		    
			<Banner />
		<section class="nose">
			<Card
				href="https://docs.astro.build/"
				title="NUESTRA EMPRESA"
				body="Learn how Astro works and explore the official API docs.mmmmmmm"
			/>
			<Card
				href="https://astro.build/integrations/"
				title="NUESTRA POLITICA"
				body="lorem mnsioisn xampxapj La política de Pilotos S.A. es de una estricta observancia de todas"
				
			/>
			<Card
				href="https://astro.build/themes/"
				title="VISION DE LA COMPAÑIA"
				body="Explore a galaxy of community-built starter themes. Optimizar nuestras operaciones para conseguir el mejor servicio."
			/>
			<Card
				href="https://astro.build/chat/"
				title="MISION DE LA COMPAÑIA"
				body="Come say hi to our amazing Discord community. Optimizar nuestras operaciones para conseguir el mejor servicio."
			/>
		</section>






		<section class="info">
			<h3>SERVICIOS</h3>
			<p>NUESTROS SERVICIOS PERSONALIZADOS</p>
			<div class="barra"></div>
			
			   <Card4 />
			   
		</section>
		<section class="cosa">
			<h3>LINKS DE INTERES</h3>
			<p>RECURSOS Y ENLACES RELEVANTES</p>
			<div class="barra"></div>
			<div class="cosa1">
			   <Card3 
			     title='Servicio Hidrofia Naval'
				 img='../asset/pronosticoV.jpg'
			    />
			   <Card3 
			     title='Marintraffic'
				 img='../asset/serviciosOriginal.jpg'
				/>
			   
			   <Card3 
			     title='WindGuru'
				 img='../asset/servicioM.jpg'
			    />
			   <Card3 
			     title='Pronostico Marea'
				 img='../asset/tablaDeM.jpg'
			    />
			   <Card3
			     title='Alturas Diarias'
				 img='../asset/Interna.jpg'  
			    />
			   <Card3 
			     title='Ordenanzas Maritimas'
				 img="../asset/servicioH.jpg"
			    />
			</div>
		</section>
	  

			
	</main>
</Layout>

<style>
	main {
		
		/*margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;*/
	}
	
	.nose {
		padding: 30px 0px;
		max-width: 1100px;
		margin: auto;
		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.cosa {
		
		width: 100%;
        height: auto;
		padding-bottom: 50px;
        background-image: linear-gradient(#2c2c2a, #c5bebf);
	}
	.cosa h3 {
		font-size: 32px;
		color: #fff;
		text-align: center;
		padding-top: 30px;
		margin: 0;
		
	}
	.cosa p {
		margin: 0;
		color: #fff;
		font-size: 22px;
		text-align: center;
		
	}
	
        
        
	.cosa1 {
		margin: auto;
		height: auto;
		width: 80%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	    gap: 40px;
		padding-bottom: 80px;
	}
		
		
		

	.info {
		width: 100%;
		background-color: rgb(44, 44, 42);
		
		border-top: 3px solid rgb(189, 0, 33);
	}
	.info h3 {
		padding-top: 30px;
		font-size: 32px ;
		color: #fff;
		text-align: center;
		margin: 0;
		
	}
	.info p {
		text-align: center;
		font-size: 22px;
		margin: 0;
		color: #fff;
		
	}
	.interes {
		
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
	}
        
    .cosa .barra {
		margin-top: 15px;
        width: 70px;
        height: 5px;
        background-color: #fff;
		margin-bottom: 70px;
		margin-left: 590px;
		
	}
	.info .barra {
		margin-top: 15px;
		width: 70px;
        height: 5px;
        background-color: #fff;
		margin-bottom: 70px;
		margin-left: 595px;
	}    
    .romeo {
		margin: 60px 0;
		height: 700px;
	}
	.romeo h2 {
		text-align: center;
	}
	@media (max-width: 900px){
		.info .barra {
			margin-left: 192px;
		}
		.cosa .barra {
			margin-left: 192px;
		}
		.cosa .cosa1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}	
	
	
	
	
</style>
