<section class="banner">
   <div class="imagen">
    <h3>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
        In quam, voluptates ipsum dolores ipsa corrupti veritatis possimus"</h3>
   </div>
</section>


<style>
    .banner {
        width: 100%;
        margin-bottom: 30px;
    }
    .imagen {
        background: #403A3E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        
        height: 200px;
        

    }
    .imagen h3 {
        font-family: 'Abel', sans-serif;
        font-size: 26px;
        color: azure;
        text-align: center;
        padding-top: 80px;
    }
</style>