---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</div>
<style>
	.link-card {
		
		width: 500px;
		height: 200px;
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: rgb(44, 44, 42);
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		color: #fff;
		margin: 0;
		font-weight: 400;
		font-size: 20px;
		
		
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		font-size: 15px;
		margin-top: 0.5rem;
		margin-bottom: 0;
		font-weight: 400;
	}
	@media (max-width: 900px){
		.link-card {
			border-radius: 50%;
			width: 350px;
			height: 350px;
		}
		.link-card > a {
			width: 98%;
			border-radius: 50%;
			border: 3px solid red;
			animation: move 5s ease-in-out infinite;
			transition: all 1s ease-in-out;
		}
		@keyframes move {
			0% {
				border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
			}
			50% {
				border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%; 
			}
			100% {
				border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
			}
			
		}








		h2, p {
			text-align: center;
			padding-top: 50px;
			
		}
	}
	
</style>
