<div class="card">
    <a href="https://www.smn.gob.ar/">
      <h4>SERVICIO DE METEREOLOGIA NACIONAL</h4>
      <img src="../asset/logo.png" alt="">
    </a>
</div>

<style>
    .card {
        width: 450px;
        height: 80px;
        border-radius: 5px;
        border: 2px solid crimson;
        transition: 700ms linear;
    }
    .card:hover{
         transform: scale(1.1);

    }
    .card img {
        width: 170px;
        height: 70px;
    }
    .card a {
        width: 100%;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        padding: 5px;
        color: rgb(83, 81, 81);
    }
    .card h4 {
        font-size: 18px ;
    }
</style>