

<div class="card">
    <span class="imagen">
        <img src="../asset/ship_5452393.png" alt="">
    </span>
    <div class="descrip">
        <h2>Control y Seguimiento</h2>
        <p>Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. Reiciendis, voluptatibus.</p>

    </div>
</div>


<style>
    
    .card {
        width: 260px;
        height: 325px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(25px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
        
        border-radius: 10px;
        
    

    }
    span {
        margin-top: 15px;
        background-color: aliceblue;
        border-radius: 50%;
    }
    span img {
        width: 70px;
    }
    .descrip h2 {
        font-size: 22px;
        color: crimson;
        text-align: center;
    }
    .descrip p {
        font-size: 16px;
        text-align: center;
        color: aliceblue;
    }
</style>